In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime as dt

import os
print(os.listdir())

['.ipynb_checkpoints', '20010-Lionel-Enrol-ITIL Jun.pdf', '20010-Lionel-Quote-ITIL Jun.pdf', '20010-Lionel-Quote-ITIL Jun_signed.pdf', 'APPLICATION_FOR_SMU_ADMINISTERED_FINANCIAL_ASSISTANCE_SCHEMES.pdf', 'Assignment 5', 'Capture.JPG', 'Cheng Mun Choong LOA.pdf', 'Cisco Webex Meetings.lnk', 'CMUMachineLearningInPractice', 'CMUPracticalDataScience', 'Combined_Doc.pdf', 'Consulting', 'contract.pdf', 'DA  Liew Seng Loon', 'dad income tax.pdf', 'dad last yr income tax.pdf', 'data sci notes.txt', 'desktop.ini', 'Dropbox.lnk', 'eFootball PES 2020.url', 'ER-stencil.vss', 'Exchange stuff', 'Financial application', 'Git FYP', 'GitHub Desktop.lnk', 'Hackathon', 'Homework #5a Spring 20.docx', 'Homework #6  Sp20.docx', 'ICPhoto', 'Internship planning sheet.xlsx', 'interview prep.docx', 'intro psych notes.txt', 'IPrep', 'IPREP Request for funding for technical course form (Lionel Ng).pdf', 'katalon - Shortcut.lnk', 'Learn_Java', 'Lionel Modules Planning.xlsx', 'LOA for Number Port.pdf', 'Module description', 'NordLocker.appref-ms', 'NTUC CAPM', 'Pass key', 'Postman.lnk', 'Project', 'Protected folder.locker', 'resignation letter.pdf', 'Resume', 'Salesforce', 'Scholarship Application', 'School resources', 'SIS Related stuff', 'Spotify.lnk', 'stock-prediction-linear-regression.ipynb', 'Student Resource_ Introduction to Big Data_ Wiley Certified Data Analyst for GIA.html', 'Tech&Biz reading resources', 'Telegram.lnk', 'temp', 'Transcript', 'Visual Studio Code.lnk', 'Visualisation Project (JTC)', 'Weekly Partner Statement - 2020-W01-merged.pdf', 'WhatsApp Image 2020-04-21 at 12.06.09 PM.jpeg', 'WhatsApp.lnk', 'Wiley Data Analyst Couse', 'zehong_cpg.pdf', 'zehong_NOA.pdf', '~$ Analytical Comparison of the persuasiveness of Kirsten Asher.docx', '~$exchange budget.xlsx', '~$ps for assignment 3.docx', '~$S ideas.docx', '~$signment 3.docx', '~$SLIMS 2018.xlsx']

In [2]:
df = pd.read_csv('CMUPracticalDataScience/Project/prices.csv')

In [3]:
df = df.loc[df['symbol']=='GOOGL']
df.drop('symbol', axis=1, inplace=True)
print(np.shape(df))
df.head()

(1762, 6)

            date        open       close         low        high      volume
440   2010-01-04  626.950006  626.750011  624.240011  629.510005   3908400.0
908   2010-01-05  627.180001  623.990017  621.540016  627.839984   6003300.0
1376  2010-01-06  625.860033  608.260035  606.360021  625.860033   7949400.0
1844  2010-01-07  609.400008  594.100015  592.649990  609.999993  12815700.0
2312  2010-01-08  592.000005  602.020005  589.110015  603.250036   9439100.0

In [4]:
# changing the index to date

df['date'] = pd.to_datetime(df['date'])
df = df.set_index('date')

df.head()

                  open       close         low        high      volume
date
2010-01-04  626.950006  626.750011  624.240011  629.510005   3908400.0
2010-01-05  627.180001  623.990017  621.540016  627.839984   6003300.0
2010-01-06  625.860033  608.260035  606.360021  625.860033   7949400.0
2010-01-07  609.400008  594.100015  592.649990  609.999993  12815700.0
2010-01-08  592.000005  602.020005  589.110015  603.250036   9439100.0

In [5]:
# finding NaNs

df.dropna(axis=0 , inplace=True)
df.isna().sum()

open      0
close     0
low       0
high      0
volume    0
dtype: int64

In [6]:
Min_date = df.index.min()
Max_date = df.index.max()
print ("First date is",Min_date)
print ("Last date is",Max_date)
print (Max_date - Min_date)

First date is 2010-01-04 00:00:00
Last date is 2016-12-30 00:00:00
2552 days 00:00:00

### Linear Regression

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [8]:
# Creating new column 
num = 20 # forcasting 20 days ahead
df['label'] = df['close'].shift(-num) # forcasting close column
                                     
print(df.shape)

(1762, 6)

In [9]:
Data = df.drop(['label'],axis=1)
X = Data.values
X = preprocessing.scale(X)
X = X[:-num]

df.dropna(inplace=True)
Target = df.label
y = Target.values

print(np.shape(X), np.shape(y))

(1742, 5) (1742,)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [11]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_test , y_test) #Returns the coefficient of determination R^2 of the prediction

0.7947476579913993

In [12]:
# Prediction 

X_Predict = X[-num:]
Forecast = lr.predict(X_Predict)
print(Forecast)

[772.46029662 776.76259829 793.35023344 802.3625318  789.80743389
 740.39148991 757.93414227 729.48761995 770.48161489 773.47022051
 779.35746224 762.74061384 778.95751157 776.02446198 762.68364516
 773.44132358 779.97403189 781.66707385 759.2237947  742.42228039]

### Plotting the results

In [13]:
Date = np.array(df.index) 
last_Date = Date[len(Date)-1]
print(last_Date)

2016-12-01T00:00:00.000000000

In [14]:
# creating timeserie from the last date

trange = pd.date_range('2016-12-2', periods=num, freq='d')
trange

DatetimeIndex(['2016-12-02', '2016-12-03', '2016-12-04', '2016-12-05',
               '2016-12-06', '2016-12-07', '2016-12-08', '2016-12-09',
               '2016-12-10', '2016-12-11', '2016-12-12', '2016-12-13',
               '2016-12-14', '2016-12-15', '2016-12-16', '2016-12-17',
               '2016-12-18', '2016-12-19', '2016-12-20', '2016-12-21'],
              dtype='datetime64[ns]', freq='D')

In [15]:
# Adding the predicted values to dateframe
Predict_df = pd.DataFrame(Forecast, index=trange)
Predict_df.columns = ['forecast']
Predict_df

              forecast
2016-12-02  772.460297
2016-12-03  776.762598
2016-12-04  793.350233
2016-12-05  802.362532
2016-12-06  789.807434
2016-12-07  740.391490
2016-12-08  757.934142
2016-12-09  729.487620
2016-12-10  770.481615
2016-12-11  773.470221
2016-12-12  779.357462
2016-12-13  762.740614
2016-12-14  778.957512
2016-12-15  776.024462
2016-12-16  762.683645
2016-12-17  773.441324
2016-12-18  779.974032
2016-12-19  781.667074
2016-12-20  759.223795
2016-12-21  742.422280